.sign-up {
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.sign-up h3 {
  text-align: center;
  font-size: 40px;
}

.form-group {
  display: flex;
  margin: 25px 0;
}

.form-group label {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  min-width: 100px;
}

.form-group input,
.form-group textarea {
  width: 100%;
}

.form-group input {
    border: solid 1px #000;
}

.form-group textarea {
  min-height: 120px;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  background: #f1f1f1;
}

input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-group button {
  padding: 12px 24px;
  margin: 0 auto;
  background-color: rgb(76, 110, 244);
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
}
